/* ===== HOME 전용 ===== */

.home-body {
  margin: 0;
}

.home {
  height: 100vh;

  background-image: url("https://res.cloudinary.com/dtt62e7sh/image/upload/v1775395721/h.a_2025_t3_rvsibx.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* header 항상 위에 */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
}
.logo {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-size: 21px;
  letter-spacing: 0.7px;

  text-decoration: none;
  color: inherit;
}
